[env]
MISE_ENV_FILE = ".env"

[tools]
node = "latest"
# rust = { version = "latest", profile = "minimal" }
rust = { version = "nightly", profile = "minimal" }
act = "latest"
actionlint = "latest"
age = "latest"
bat = "latest"
bat-extras = "latest"
# biome = "latest"
bottom = "latest"
btop = "latest"
bun = "latest"
cargo-binstall = "latest"
ccache = "latest"
checkmake = "latest"
chezmoi = "latest"
cosign = "latest"
delta = "latest"
difftastic = "latest"
direnv = "latest"
dive = "latest"
dua = "latest"
duf = "latest"
dust = "latest"
dyff = "latest"
# emacs = "latest"
eza = "latest"
fastfetch = "latest"
fd = "latest"
# fx = "latest"
fzf = "latest"
gdu = "latest"
gh = "latest"
git-cliff = "latest"
gitui = "latest"
glow = "latest"
go = "latest"
hadolint = "latest"
harper-ls = "latest"
# java = "temurin-jre-25" # problems installing java as on Dec 02, 2025. Moving java to pixi global
# java = "latest"         # problems installing java as on Dec 02, 2025. Moving java to pixi global
jless = "latest"
# jq = "latest"
lazydocker = "latest"
lazygit = "latest"
# lua = "latest"
lua-language-server = "latest"
# make = "latest"
markdownlint-cli2 = "latest"
marksman = "latest"
meson = "latest"
# neovim = "latest"
neovim = "nightly"
ninja = "latest"
oxlint = "latest"
pandoc = "latest"
pipx = "latest"
ripgrep = "latest"
ripgrep-all = "latest"
ruby = "latest"
ruff = "latest"
shellcheck = "latest"
shfmt = "latest"
starship = "latest"
stylua = "latest"
taplo = "latest"
tlrc = "latest"
tree-sitter = "latest"
usage = "latest"
uv = "latest"
viddy = "latest"
yamlfmt = "latest"
yamllint = "latest"
zellij = "latest"
# python = "latest"
# tombi = "latest"
"cargo:binsider" = "latest"
"cargo:bookokrat" = "latest"
"cargo:cargo-cache" = "latest"
"cargo:cargo-update" = "latest"
"cargo:carl" = "latest"
"cargo:erdtree" = "latest"
"cargo:https://github.com/kyu08/fzf-make" = { version = "latest", locked = true }
"cargo:helix-calc" = "latest"
# "cargo:https://github.com/kruseio/hygg" = { version = "latest", locked = true }
"cargo:hygg" = "latest"
"cargo:macchina" = "latest"
"cargo:mcat" = "latest"
"cargo:mdsf" = "latest"
"cargo:metapac" = "latest"
"cargo:neocmakelsp" = "latest"
"cargo:procs" = "latest"
# "cargo:rpn-cli" = "latest"
# "cargo:rumdl" = "latest"
"cargo:shellharden" = "latest"
# "cargo:shuntcalc" = "latest"
"cargo:tex-fmt" = "latest"
"cargo:topgrade" = "latest"
# "gem:xrpn" = "latest"
"gem:t-rex" = "latest"
"github:exercism/cli" = "latest"
"github:Han8931/gorae" = "latest"
"github:marcopaganini/rpn" = { version = "latest",  asset_pattern = "rpn_*_linux_386.tar.gz",  rename_exe = "gorpn" }
"github:ArshErgon/shuntcalc" = { version = "latest", rename_exe = "shuntcalc" }
"github:gurgeous/vectro" = "latest"
"gitlab:ImaginaryInfinity/squiid-calculator/squiid" = "latest"
"go:github.com/marwanhawari/stew" = "latest"
# "go:github.com/marcopaganini/rpn" = "latest"
"npm:awk-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:basics-language-server" = "latest"
"npm:commitlint" = "latest"
"npm:gh-actions-language-server" = "latest"
"npm:textlint" = "latest"
"npm:vim-language-server" = "latest"
"npm:vscode-json-languageservice" = "latest"
"npm:yaml-language-server" = "latest"
"pipx:autopep8" = "latest"
"pipx:autotools-language-server" = "latest"
"pipx:bandit" = "latest"
"pipx:basedpyright" = "latest"
"pipx:beautysh" = "latest"
"pipx:clang-format" = "latest"
"pipx:cmakelint" = "latest"
# "pipx:codespell" = "latest"
"pipx:cpplint" = "latest"
# "pipx:dexa" = "latest"
"pipx:engineering-calculator" = "latest"
"pipx:git-delete-merged-branches" = "latest"
"pipx:jupytext" = "latest"
"pipx:lue-reader" = "latest"
"pipx:mbake" = "latest"
"pipx:mdformat" = "latest"
"pipx:mypy" = "latest"
"pipx:pymarkdownlnt" = "latest"
"pipx:pydantic-rpn" = "latest"
"pipx:pyproject-fmt" = "latest"
"pipx:pystacker" = "latest"
"pipx:pytest" = "latest"
"pipx:refurb" = "latest"
"pipx:reorder-python-imports" = "latest"
"pipx:rpn-calc" = "latest"
# "pipx:rpnChilada" = "latest"
"pipx:rpnpy" = "latest"
"pipx:textlsp" = "latest"
# "pipx:trash-cli" = "latest"  # problematic as of Jan 18 2026
"pipx:usort" = "latest"
"pipx:vulture" = "latest"
"pipx:yamlfix" = "latest"
# "pipx:docformatter" = "latest"
# "pipx:pyrefly" = "latest"
# "pipx:ty" = "latest"
# "pipx:zuban" = "latest"

{{- if ne .chezmoi.hostname "blend" }}
zig = "latest"
# "cargo:prosemd-lsp" = "latest" # compiles from source on linux arm64 as of Jul 2025
{{- end }}

{{- if eq .chezmoi.hostname "blend" }}
typst = "latest"
tinymist = "latest"
typstyle = "latest"
"cargo:fclones" = "latest"
"cargo:https://github.com/antonWetzel/prettypst" = { version = "latest", locked = true }
"cargo:presenterm" = "latest"
"pipx:ansible-dev-tools" = { version = "latest", uvx_args = "--with-executables-from ansible-builder,ansible-core,ansible-creator,ansible-dev-environment,ansible-lint,ansible-sign,molecule,ansible-navigator" }
# "cargo:codebook" = "latest"
# "cargo:unmake" = "latest"
{{- end }}

[settings]
auto_install = true
env_file = ".env"
experimental = true
idiomatic_version_file_enable_tools = ["ruby"]
# quiet = true
# npm.bun = true

[plugins]
neovim = "https://github.com/richin13/asdf-neovim"

# vim: ft=toml:
