{
	"stewPath"{{ .chezmoi.pathListSeparator }} "{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}share{{ .chezmoi.pathSeparator }}stew",
	"stewBinPath"{{ .chezmoi.pathListSeparator }} "{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}bin",
	"excludedFromUpgradeAll"{{ .chezmoi.pathListSeparator }} []
}